@model IEnumerable<MyScoreViewModel>
@{
	string names = "";
	string email = "";
	if (Model.Count() != 0)
	{
		names = Model.Select(x => x.UserNames).First();
		email = Model.Select(x => x.Email).First();
		ViewBag.Title = $"Personal Game Score - {names} ✉{email}";
	}
	else
	{
		ViewBag.Title = $"Personal Game Score";
	}
	
	
	var count = 1;
}
<div class="container bg-info bg-opacity-25 rounded-pill align-content-center shadow box-shadow shadow-lg">
	<div class="container text-center align-content-center w-100">
		<div style="color:dodgerblue"sty class=" container bg-success bg-opacity-25  rounded-pill w-75 shadow box-shadow shadow-lg">
			<h4>@ViewBag.Title</h4>
		</div>
	</div>
	<hr class="container w-75" />
	@if (Model.Count() == 0)
	{
		<hr />
		<div class="container text-danger text-center bg-info bg-opacity-25 rounded-pill">
			<h4>There are currently no game records saved.</h4>
			<h4>Consider starting a new Game to get some fresh score results here!</h4>
		</div>
	}
	<div class="container align-content-center rounded-pill bg-info bg-opacity-10 w-100 shadow shadow-lg box-shadow">
		@foreach (var score in Model)
		{

			<table class="container w-75 table table-bordered table-hover table-responsive-lg border-secondary">
				<thead>
					<tr class="bg-info bg-opacity-75">
						<th>
							Game No:
						</th>
						<th>
							Start Time
						</th>
						<th>
							End Time
						</th>
						<th>
							Gold
						</th>
						<th>
							[hh/mm/ss] Game Duration
						</th>
					</tr>
				</thead>
				<tbody class="bg-warning bg-opacity-25">

					<tr>
						<td>
							<h5 style="color:saddlebrown">⋞<strong style="color:darkslateblue">@(count++)</strong>⋟</h5>
						</td>
						<td>
							<h6>@score.StartTime</h6>
						</td>
						<td>
							<h6>@score.EndTime</h6>
						</td>
						<td>
							<h6>@score.GoldForTheGame</h6>
						</td>

						<td><h6>@(DateTime.Parse(score.EndTime) - DateTime.Parse(score.StartTime))</h6></td>
					</tr>
				</tbody>
			</table>

		}
	</div>
	<hr class="container w-75" />
	<hr class="container w-50" />
	<div>
		<div class="container align-content-center bg-success bg-opacity-25 w-25 rounded-pill">
			<h5>Total Gold Earned: ⭐<strong style="color:orangered">@Model.Sum(x=>x.GoldForTheGame).Value</strong>⭐</h5>
		</div>
	</div>
</div>