@model SecretNumberViewModel
@{
    ViewBag.Title = "⊶≼Bulls & Cows≽⊷";
}
<h3 class="text-center">@ViewBag.Title</h3>
<hr class="container align-content-center w-50"/>
    <div>
    <table>
        <thead>
            <tr id="bombs">
                <td>
                    💥 : <strong class="bg-danger bg-opacity-25 rounded-pill">Impossible numbers</strong> <h5></h5>
                </td>

            </tr>
        </thead>

    </table>
</div>      

<div>
    <table>
        <thead>
            <tr id="cows">
                <td>
                    🐄 : <strong class="bg-warning bg-opacity-25 rounded-pill">Possible numbers available</strong> <h5></h5>
                </td>

            </tr>
        </thead>

    </table>
</div>  
<hr/>
<div class="text-md-center bg-primary bg-opacity-25">
    <table width="100%" height="100%" align="center" class="table-bordered border-5 table-success">
        <thead>
            <tr>
                @for (int i = 1; i <= Model.SecretNum.Split(" ").ToArray().Length; i++)
                {
                    <td align="center" valign="middle" class="bg-success">
                        <h5 id="item1">@i</h5>
                    </td>
                }
            </tr>
        </thead>
        <tbody>
            <tr id="SecretRow">
                @*give the tr id*@
                @for (int i = 0; i < Model.SecretNum.Split(" ").ToArray().Length; i++)
                {
                    <td>
                        <h3>🎁</h3>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
<hr />

<div class="bg-primary bg-opacity-25 rounded-pill">
    <div class="text-center"><label><strong>Found Numbers ⊰🍀⊱</strong></label></div>
    <table width="100%" align="center" class="table-bordered border-5 table-success">
        <thead class="bg-primary bg-opacity-50 ">
            <tr id="Sequence">
                @for (int i = 1; i <= Model.SecretNum.Split(" ").ToArray().Length; i++)
                    {
                    <td width="200px" height="30px" align="center" >
                        <h4 style="color:greenyellow"><strong>✰</strong></h4>
                    </td>
                    }
            </tr>
        </thead>                

    </table>
</div>

<form method="post">
    <div class="form-control card-body bg-primary bg-opacity-25">
        <label>Column</label>
        <br />
        @*give the input id*@
        <input id="col" name="col" class="bg-warning bg-opacity-75 card" type="number" min="1" max="7" placeholder="1-7">
        <br />
        <label>Number</label>
        <br />
        @*give the input id*@
        <input id="num" name="num" class="bg-warning bg-opacity-75 card" type="number" min="0" max="9" placeholder="0-9" />
        <hr />
        <input id="missingCount" hidden name="bombs" value="x" />
        @* change the input type to button*@        
        <input id="btn-tryme" onclick="changeSecret()" type="button"
               class="btn btn-info btn-outline-primary rounded-pill w-auto" value="Try me! 👀" /> <br /> <br />
        <input id="btn-sendInfo" name="num" value="Send Result ➲" asp-controller="Game" asp-action="CreateARecord"
               asp-route-secretNum="@Model.SecretNum" asp-route-startDt="@Model.StartGameTime" 
               class="w-auto btn btn-warning btn-outline-success rounded-pill shadow-lg" type="submit" />
    </div>
</form>
<div class="bg-primary bg-opacity-50 rounded-3">
    <div class="container align-content-center w-25 rounded-pill">
        <div class="w-75 rounded-3">
            <h6>🔔Hover to see the secret!🔔</h6>
            <h6 class="rounded-3" style="color:mediumslateblue;background-color:mediumslateblue" id="hover">Secret Number : @Model.SecretNum</h6>
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/js/hover.js"></script>
    <script>
        var arr = [];
        var bombsArr = [];
        var cowArr = [];
        document.getElementById("btn-sendInfo").disabled = true;
        document.getElementById("missingCount").value = 0;
        function changeSecret() {
            var data = {
                col: $("#col").val(),
                num: $("#num").val(),
                numFigure: '@Model.NumFigure',                
                nums: '@Model.SecretNum'
            };
            $.ajax({
                url: "/Game/FindSecretNumber",
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (res) {
                    var index = res.data.col - 1;
                    // bulls/cows/missing - base table
                    $("#SecretRow").find('td').eq(index).find("h3").text(res.data.numFigure);
                    //cows
                    if (res.data.numFigure == "🐄") {
                        cowArr.push("⊰" + res.data.num + "⊱");
                        $("#cows").find('td').find('h5').text(cowArr);
                    }
                    //bulls
                    if (res.data.numFigure === "🐂") {
                        arr.push("🐂");
                        $("#Sequence").find('td').eq(index).find('h4').text(res.data.num);
                    }
                    //missing numbers
                    if (res.data.numFigure == "💥") {
                        bombsArr.push("⫷" + res.data.num + "⫸");

                        $("#bombs").find('td').find('h5').text(bombsArr)
                        document.getElementById("missingCount").value = bombsArr.length;
                    }
                    if (arr.length >= 7 && document.getElementById("Sequence").innerHTML.includes("✰") == false) {
                        alert('Congratulations! All bulls have been found! The secret has been revealed 💯 ⫷@Model.SecretNum⫸');
                        document.getElementById("btn-tryme").disabled = true;
                        document.getElementById("btn-sendInfo").disabled = false;
                    }
                }
            })

        }
        bombsArr = [];
        cowArr = [];
    </script>
    
}

    